<div class="container">
  <div class="row justify-content-start">
    <div class="col-2"></div>
    <div  class="col-8">
     <p> As an imperial programmer you receive the order of implement a new service that allows to register any rebel identification. This service could be implemented as a webservice (restful) or as a WebAPI.
    </p><p>
The empire has conquered all universe, but it still remains some group of hidden rebels. Dark forces, soldiers for the empire, distributed over all know galaxies and solar systems forces empire's citizens to be identified. They need you to develop a distributed service that would be able to be called from any location over the universe.
</p><p>
The service must expose a method that accept a list of strings with the name of the rebel and name of the planet, and response true is register goes fine. The register has to be done to file with a datetime with the string "rebel (name) on (planet) at (datetime)".
</p><p>
Separate responsibilities in separate layers: distributed services, application and domain. Implement error logging and manage exceptions in every layer. Implement unit test for any layer, too. Take care of proper naming convections and SOLID principles. You can use any Dependency Injection, Unit Testing, Mocking frameworks or any other that you consider necessary.
</p>
    </div>
  </div>

</div>
